body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1, h2, h3 {
    font-family: 'Arial Purple';
    font-weight: bold;
    color: #59168B
}
p, li, a {
    font-family: 'Arial';
}
button {
    font-family: 'Arial';
}
nav {
    font-family: 'Arial';
}
.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
