body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1, h2, h3 {
    font-family: 'Arial Purple', sans-serif;
    font-weight: bold;
}
p, li, a {
    font-family: 'Arial', sans-serif;
}
button {
    font-family: 'Arial', sans-serif;
}
nav {
    font-family: 'Arial', sans-serif;
}
.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
