
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
ul {
    list-style-type: none;
}
