/* src/css */
@import "accueil.css";
@import "apropos.css";
@import "articles.css";
@import "contact.css";
@import "glossaire.css";
/* layout */
@import "layout/header.css";
@import "layout/footer.css";
